*{
    margin: 0;
    border:none;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    padding: 10px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #005B41;
    color: whitesmoke;
    padding: 10px;
}
h1,h2,h3,h4,h5,h6{
    padding: 10px;
    text-align: center;
}
nav a{
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232D3F;
    color: whitesmoke;
}
input{
    height: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1.5rem;
    background-color: #232D3F;
    color: whitesmoke;
}

button *{
    cursor: pointer;
    margin: 1rem 0rem;
}

form:last-child{
    width: 100%;
}
form:last-child button{
    background-color: whitesmoke;
    color: #232D3F;
    height: 2rem;
    text-transform: uppercase;
}
ul{
    height: 50vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
ul li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #232D3F;
    text-transform: uppercase;
    color: whitesmoke;
}